<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">

    <title>Quên mật khẩu</title>

</head>

<body>
<div th:replace="~{fragments/header}"></div>

<!-- 2. NHÚNG FILE NAVBAR (Thường chứa menu điều hướng chính) -->
<div th:replace="~{fragments/navbar}"></div>
<h1>Quên mật khẩu</h1>

<form>

    <label>Email</label>

    <input type="email"
           placeholder="Nhập email">

    <button type="submit">
        Gửi yêu cầu
    </button>

</form>

<a href="/login">
    Quay lại đăng nhập
</a>
<div th:replace="~{fragments/footer}"></div>
</body>

</html>